// font-size
.u-fs__xxl { font-size: 3.0rem; line-height: 3.4rem; }
.u-fs__xl { font-size: 2.4rem; line-height: 2.6rem; }
.u-fs__l { font-size: 2.0rem; line-height: 2.2rem; }
.u-fs__m { font-size: 1.6rem; line-height: 1.8rem; }
.u-fs__s { font-size: 1.4rem; line-height: 1.6rem; }
.u-fs__ss { font-size: 1.2rem; line-height: 1.4rem; }

// font-weight
.u-fw__b { font-weight: bold; }

// color
.u-c__red { color: $red; }
.u-c__white { color: $white; }
.u-c__gray { color: $gray; }

// text-align
.u-ta__l { text-align: left; }
.u-ta__c { text-align: center; }
.u-ta__r { text-align: right; }

// text-decoration
.u-td__lineThrough {
    text-decoration: line-through;
}
.u-td__underline {
    text-decoration: underline;
}